.navbar {
    background-color: #000000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    /* display: flex;
    gap: 2rem; */
    display: none;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 2.5rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #111;
    width: 100%;
    flex-direction: column;
    padding: 1rem 2rem;
    display: none;
    text-align: right;
  }

  .navbar-links.active {
    display: flex;
  }
}  